.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #00264d;
  color: white;
  position: sticky;
  top: 0;
  z-index: 999;
  transition: 0.5s all ease;
}

.navbar.active {
  background-color: white;
  color: #003366;
}

.navbar.active button {
  background-color: white !important;
  color: #0077b6 !important;
  border: 1px solid #0077b6 !important;
}

.navbar .container {
  width: 1400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0px;
}

.navbar .container .logo {
  font-size: 32px;
  font-weight: bold;
  color: #00acee;
}

.navbar .container .links {
  display: flex;
  align-items: center;
  gap: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
}

.navbar .container .links span {
  white-space: nowrap;
  cursor: pointer;
  transition: color 0.3s ease;
}

.navbar .container .links span:hover {
  color: #00acee;
}

.navbar .container .links .user {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  position: relative;
}

.navbar .container .links .user img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.navbar .container .links .user .options {
  position: absolute;
  top: 45px;
  right: 0;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  z-index: 999;
  border: 1px solid #e0e0e0;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 180px;
  font-weight: 400;
  color: #003366;
}

.navbar .container .links button {
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
}

.navbar .container .links button:hover {
  background-color: #00acee;
  border-color: #00acee;
}

.navbar hr {
  width: calc(100% - 2px);
  height: 0;
  border-top: 0.5px solid #d9d9d9;
  border-bottom: 0.5px solid #d9d9d9;
}

.navbar .menu {
  width: 1400px;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  color: #003366;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
}

.navbar .menu .menuLink:hover {
  color: #00acee;
}
